@charset "utf-8";

body{ margin:0; padding:0; width:100%; height:100%; background:#f5f5f5;}
.wbk{ margin:0 auto; width:800px; 
	height:850px; background:#FFF; }
.wbk-p{ margin:0 auto; width:800px; 
	height:850px; }

.wbk-1{ margin-top:20px; width:800px;
	 background:#FFF; height:850px; float:left;}
.wbk-2{ margin-top:120px; width:860px;
	 background:#FFF; height:520px; float:left;}

.nbk{ margin:0 auto; width:52px;
 	height:52px; text-align:center; }
.nbk-1{margin-top:70px;margin:0 auto; width:52px;
 	height:52px; text-align:center; margin-top:70px;}

.dl{ margin:0 auto; text-align:center;
	 font-size:30px; font-family:"黑体"; margin-top:10px;}
img{ border:none;}



<!--按钮-->

.an{ width:360px; height:50px;}
.ank{ 
	 text-align:center; margin-top:10px;}

input{ width:360px; height:40px;
	border:none; border:solid 1px #e8e8e8;
	 margin:7px; line-height:40px; font-size: 14px;}


.dl1{ text-align:center; margin:0 auto; background-color:#ef5b00;
	 width:360px; height:50px; color:#FFF;
	  line-height:50px; margin-top:40px;}
.dl1 a{ color:#FFF; text-decoration:none;}	

.dlfs-1{text-align:center; font-size:12px; margin-top:20px; 
	margin-bottom:120px; color:#8b8b8b; }
.dlfs-1 a{text-decoration: none;color:#8b8b8b;}
	
.dlfs{text-align:center; font-size:14px; margin-top:20px;
	 color:#8b8b8b; }
	 
.sheng-min{text-align:center; font-size:14px; margin-top:20px;
	 color:#8b8b8b; width:600px; margin-left:100px; line-height:20px;}
	 
.tpk{ width:180px; height:50px;
	 margin:0 auto; margin-top:20px;}

.tpk img{ width:30px; height:30px; margin:10px;}

.wz{margin:0 auto;}
.wz a{ color:#8b8b8b; text-decoration:none;}

.wz1{ text-align:center; margin:0 auto;
	margin-top:40px; color:#727272;}
	

<!--安全程度-->
.aq{ 
	width:240px; height:30px;}
.r1,.r2,.r3{ background-color:#d0d0d0; color:#FFF;  
	width:35px; height:20px;}	

.r4{color:#8b8b8b; margin-left:-200px;}


.yzm-tp{  width:130px; height:41px; 
	position:relative; top:20px; }	
.xy{ }
.xy a{ text-decoration:none;font-family:"黑体"; color:#000;}	

.fhf-dl{text-align:center; font-size:12px; margin-top:20px; color:#8b8b8b; }
	

.option{ text-align:center;}

/*底部*/
.wz1{ font-size:12px;}
.wz1 a{ text-decoration:none; color:#8b8b8b;}

.placeholder{color: #7D7D7D;}
/* CSS Document */ 

