@charset "utf-8";
/* CSS Document */

/*配载管理*/
.juzhong {
    width: 930px;
    height: auto;
    margin-bottom: 20px;
    margin-left: 30px;
    margin-top: 20px;
}

.zk1 {
    width: 750px;
    height: 120px;
}

.zk-1 {
    width: 730px;
    height: 30px;
    margin-bottom: 12px;
}

.zk-2 {
    clear: both;
    width: 730px;
    height: 30px;
}

.zk-3 {
    float: left;
    margin-top: 12px;
    width: 730px;
    height: 30px;
}

.zk-33 {
    width: 410px;
    height: 30px;
    float: left;
}

.t {border: solid 1px #CCCCCC;
    width: 120px;
    height: 30px;
    float: left;
}

.in {border: solid 1px #CCCCCC;
    width: 120px;
    height: 24px;
    float: left;
}

.kd {
    color: #333333;
    margin-top: 12px;
    font-size: 12px;
    float: left;
}

.yd {
    color: #333333;
    margin-top: 12px;
    font-size: 12px;
    margin-left: 20px;
    float: left;
}

.mc {
    color: #333333;
    margin-top: 12px;
    font-size: 12px;
    margin-left: 20px;
    float: left;
}

.s-cx {
    width: 110px;
    height: 30px;
    color: #FFF;
    background: #ff6700;
    text-align: center;
    line-height: 30px;
    float: left;
}

.s-hb {
    width: 110px;
    height: 30px;
    float: left;
    text-align: center;
    line-height: 30px;
    color: #FFF;
    background: #1e79d2;
    margin-left: 30px;
}

.s-hb, .s-cx {
    cursor: pointer;
}

.zk2 {
    width: 920px;
    height: 50px;
    clear: both;
    border: solid 1px #d7d7d7;
    border-right: none;
    border-left: none;
    margin-top: 35px;
    margin-bottom: 30px;
}

.zk2 ul li {
    list-style: none;
    float: left;
    cursor: pointer;
    margin-left: 55px;
    font-size: 14px;
}

.zk2 ul {
    margin-left: -90px;
}

.l-qb {
    color: #F00;
}

.zk3 {
    width: 920px;
    height: 300px;
    clear: both;
}

.g-qx {
    width: 920px;
    height: 30px;
}

.xuan {
    width: 14px;
    height: 14px;
    float: left;
    margin-top: 1px;
}

.g-qx span {
    font-size: 12px;
    float: left;
    color: #3b3b3b;
}

.s-qx {
    margin-left: 5px;
}

.s-yd {
    margin-left: 50px;
}

.s-sh {
    margin-left: 220px;
}

.s-fy, .s-zt, .s-ydzt {
    margin-left: 37px;
}

.s-cz {
    margin-left: 140px;
}

.lvk {
    width: 920px;
    height: 30px;
    background: #ebf2f8;
    float: left;
    margin-left: -10px;
}

.lvk span {
    color: #3b3b3b;
    font-size: 14px;
    line-height: 30px;
}

.s-sj {
    width: 70px;
    margin-left: 20px;
}

.s-ydh {
    margin-left: 77px;
}

.jj {
    width: 920px;
    height: auto;
}

.jj1 {
    width: 920px;
    height: auto;
    float: left;
}

.jj1 ul li {
    list-style: none;
    float: left;
    font-size: 13px;
    color: #3b3b3b;
    margin-left: 35px;
}

.jj1 ul {
    margin-left: -65px;
    cursor: pointer;
}

.box {
    width: 930px;
    height: auto;
}

.box1 {
    width: 930px;
    height: auto;
    float: left;
    margin-top: 35px;
}

/*结束*/

/*分页符*/
.fyf {
    clear: both;
    margin-top: 60px;
    float: left;
}

.fyf a {
    color: #3b3b3b;
}

.fyf ul li {
    list-style: none;
    float: left;
    margin: 15px;
    font-size: 14px;
    cursor: pointer;
}

.fyf ul {
    margin-left: 150px;
}

/*结束*/

.inp {
    width: 160px;
    height: 23px;
    border: 1px solid #cccccc;
}

.tipsbox1 {
    position: absolute;
    z-index: 21;
    top: 3px;
    left: 804px;
    margin-left: -445px;
    width: 888px;
    height: auto;
    border: 1px solid #ddd;
    background: #fff;
    padding: 9px 0 30px 0;
}

.tips {
    position: absolute;
    z-index: 23;
    top: 2px;
    left: 877px;
    margin-left: -443px;
    width: 25px;
    height: 17px;
    background: #fff;
    padding: 9px 0 0 0;
}

.bodybg {
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 20;
    background-color: #CCCCCC;
}
.pager{
    text-align: center;
}

font{color: #F90;}