










<!--品类申请-弹窗-->


	
.tc{ position:fixed; bottom:0; left:0; 
	right:0; top:0; background:#666;z-index:9;}

.d-zj{ width:590px; height:580px; background:#FFF;
	 border:solid 3px #CCCCCC;z-index:999;
	  position:absolute;    top: 240px;
    left: 600px;}

.d1{ width:510px; height:30px; 
	background:#ebf3f9; float:left; 
	 color:#333; 
		margin-left:20px; margin-top:30px; 
		line-height:30px;}

.s-q{float:left;font-size:17px;margin-left:20px;}

.d2{ clear:both;width:350px; height:200px; float:left;
	 margin-top:20px; margin-left:50px; font-size:14px;
	 color:#    line-height: 45px;}
.d2 ul li{ list-style:none;line-height: 45px;}
.d2 ul{ float:left; margin-left:-40px;}
.w{ width:200px; height:22px;}

.q{ width:85px; height:22px;}

.l-bz{ margin-left:13px;}

.l-z1{ margin-left:-15px;}

.d3{ clear:both; width:360px; height:50px; margin-left:50px;}

.d3 ul li{ list-style:none; float:left; 
		font-size:12px; margin-left:30px;margin-top: 5px}
.d3 ul{ margin-left:-83px;}
.i-q{ width:12px; height:12px;}

.d4{clear:both; width:500px; float:left;
	margin-top:20px; height:100px;    margin-left: 45px;
    font-size: 14px;}

.text{ width:400px; height:90px;}

.s-z1{ float:left;}
.s-z2{ float:left;}

.d5{ clear:both; width:480px; 
	height:30px; float:left; margin-top:20px; margin-left:50px;}

.d5-1,.d5-2,.d5-3{ float:left; font-size:14px;}
.d5-1{ margin-left:-10px; margin-top:2px;}
.d5-2{ margin-left:10px;}
.d5-3{ color:#999999; margin-top:3px;}


.sc{ width:70px;}

.d6{ width:300px; height:30px; clear:both; float:left;
    margin-left: 105px;
    margin-top: 20px;
    cursor: pointer;}

.d-bc{ width:110px; height:25px; 
	background:#ff6700; color:#FFF;
	text-align:center; line-height:25px;
	 font-size:14px; float:left; margin-left:20px;}
	 
.d-bc1{ width:138px; height:25px; 
	background:#1e79d2; color:#FFF;
	text-align:center; line-height:25px;
	 font-size:14px; float:left; margin-left:20px;}


